/*Table of Contents
  1. Global
  2. Side-Menu
  3. Map

/*Global*/
.container {
  height: 100%;
  position: relative;
  width: 90%;
}

h1 {
  color: #000;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  margin: 0 0 10px 0;
  text-align: center;
}

h2 {
  color: #000;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-align: center;
}

html,
body {
   font-family: Arial, sans-serif;
   height: 100%;
   margin: 0;
   padding: 0;
 }

/*Side-Menu*/
.form-control {
  margin-top: 10px;
  width: 90%;
}

.information {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-bottom: -10px;
}

input {
  font-size: 12px;
}

.listing {
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.list-element {
  margin-bottom: -15px;
}

.listing.closed {
  display: none;
}

.listing.open {
  display: block;
}

.menu {
  height: 40px;
  margin-left: 0;
  margin-top: -15px;
  padding: 0;
  width: 40px;
}

.options-box {
  background: #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 35px;
  min-height: 810px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

.options-box.closed {
  display: none;
}

.options-box.open {
  display: block;
}

.options-box-small {
  background: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10px;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

.result-information {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.result-information-left {
  font-family: 'Raleway', sans-serif;
}

 .show-listings {
   background: #7dcdcd;
   margin-top: 10px;
   width: 48%;
 }

/*Map*/
 #map {
   border-radius: 10px;
   bottom: 0;
   left: 362px;
   margin-bottom: 2px;
   min-height: 848px;
   position: absolute;
   right: 0px;
 }

 #map.true {
   border-radius: 10px;
   bottom: 0px;
   left: 362px;
   min-height: 848px;
   position: absolute;
   right: 0px;
 }

 #map.false {
   border-radius: 10px;
   margin-bottom: -810px;
   margin-left: -360px;
   min-height: 800px;
 }

 #mapError {
   border-radius: 10px;
   bottom: 0;
   left: 362px;
   margin-bottom: 2px;
   min-height: 848px;
   position: absolute;
   right: 0px;
 }

 #mapError.true {
   border-radius: 10px;
   bottom: 0px;
   left: 362px;
   min-height: 848px;
   position: absolute;
   right: 0px;
 }

 #mapError.false {
   border-radius: 10px;
   margin-bottom: -810px;
   margin-left: -360px;
   min-height: 800px;
 }

/*Twitter*/
 #twitter.false {
   position: absolute;
   margin-top: 850px;
   width: 90%;
 }

/*Foursquare*/
 #foursquare.false {
   position: absolute;
   margin-top: 850px;
 }

 @media screen and (max-width: 767px){
  #foursquare.false {
    position: relative;
    margin-top: 50px;
  }
  #twitter.false {
    position: relative;
  }
}

 .map-view.closed {
   margin-top: -50px;
 }
